ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4{
    margin: 0;
}
p{
    margin: 0;
}


/* header */
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
   

}

.header .container{
    display: flex;
    height: 50px;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.header-item{
    transition: color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 30ms,
    background-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 50ms;
    margin-left: 55px;
}

.header-list{
    display: flex;
    margin-left: 93px;
}

.button-item{
    margin-left: 10px;
}

.button-item:hover{
    color: #2196F3;
    background-color: #2196F3;
    background: #2196F3;
}

.header-color {
    color: #000000;
}

.header-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;

    transition: color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 30ms,
    background-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 50ms;
}

.header-link:hover {
    color: #2196F3;
}

.contakt-list {
    list-style: none;
    display: flex;
    margin-left: auto;
   
}

.contakt-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-left: 32px;
    color: #757575;
    transition: color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 30ms,
    background-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 50ms;
}

.main-section{
margin-bottom: 94px;
}

.button-neme{
    margin-left: 24px;
    padding-top: 20px;
    padding-bottom: 4px;
}

.button-text{
    margin-left: 24px;
    padding-bottom: 20px;
}



.button{
    margin-left: 10px;
}

.dutton:hover{
    color: #2196F3;
    background-color: #2196F3;
    background: #2196F3;
}

.contakt-link:hover {
    color: #2196F3;
}
/* main */
.button-list{
    display: flex;
    justify-content: center;
}

.button-section{
    padding-top: 94px;
    padding-bottom: 50px;
}

.main-list{
    gap: 30px;

    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.main-item{
    background-color: #FFFFFF;
border: 1px solid #EEEEEE;

    width: 370px;
    transition: color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 30ms,
    background-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67) 50ms;
}

.main-item:hover,
.main-item:focus{
    
    color: rgb(0, 0, 0);
}

.main-item::before{
    content: "Технокрик це сучасний майданчик поширення коронавірусу Компанії використовують цю платформу для цифрового шпигунства та атак на захищені сервери конкурентів" ;
    width: 370px;
    height: 294px;
    display: block;
    background-color: rgba(33, 150, 243, 0.9);
    margin-right: 6px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 3000ms;
    transform: translateY(0);
   
  }

  .main-item:hover::before{
    
    transform: translateY(290px);
    
  }

/* <!--footer --> */
.footer-logo{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;

}
.address{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;

}
.footer-link{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}
.section-footer{
    background: #2F303A;
}
.eader-color:hover{
    background: #2F303A;
}
